*.py[cod]
rfdiffusion.egg-info

models/
outputs/
schedules/

examples/ppi_scaffolds

tests/.results.json
tests/input_pdbs
tests/outputs
tests/ppi_scaffolds
tests/reference_outputs/
tests/target_folds
tests/tim_barrel_scaffold
tests/tests_*

test_outputs/
test_outputs_old/
example_outputs/
example_outputs_old/
